<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Reset password</title>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
        <tbody>
            <tr>
                <td align="center" bgcolor="#ffffff">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                            <tr>
                                <td width="100%" align="center">
                                     <!-- start spacing -->
                                     <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td height="40">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end spacing -->

                                     <!-- start logo and text -->
                                     <table width="300px" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>

                                                <td width="100%" align="start" valign="center">
                                                   
                                                    <a style="font-family: sans-serif; font-weight: 600;">Bridgegap clothing</a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end logo and text -->

                                    <!-- start spacing -->
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end spacing -->

                                    <!-- start greeting -->
                                    <table width="300px" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td width="100%" align="center">
                                                    <p style="font-family:sans-serif; text-align: start; font-size: 14px;">Hi, need a new password?</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" align="center">
                                                    <p style="font-family: sans-serif; text-align: start; font-size: 14px; line-height: 1.4;">A request to reset your Bridgegapcloting account password was made, if this was not you,
                                                         simply ignore this mail, if you made this request, click the button below to reset your password </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end greeting -->

                                    <!-- start spacing -->
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end spacing -->

                                    <!-- start verify button -->
                                    <table width="300px" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="http://{{domain}}/reset-password.html?uidb64={{uid}}&token={{token}}" style="text-align: center; background-color: #ffffff; padding: 10px; color: black; font-weight: 600; font-family: sans-serif; text-decoration: none; border: 1px solid black; ">Reset password</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- end verify button -->

                                     <!-- start spacing -->
                                     <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td height="50"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- end spacing -->

                                   

                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>